<div id="<%= dom_id recipe %>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Desccription:</strong>
    <%= recipe.desccription %>
  </p>

  <p>
    <strong>Write Name:</strong>
    <%= recipe.writer %>
  </p>

  <p>
    <strong>Recipes Value:</strong>
    <%= recipe.price %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= recipe.availability %>
  </p>

</div>
